<div class="container">
  <h3 class="gray mt-5">会員情報編集</h2>
  <%= form_with model: @customer, url:  '/customers/information' do |f| %>
    <form>
      <div class="row mb-3 align-items-center">
      <h5 class="col-2">氏名</h5>
        <%= f.text_field :first_name, autofocus: true, id:"first_name", placeholder:"名字", class: "col-2" %>
        <%= f.text_field :last_name, id:"last_name", placeholder:"名前", class: "col-2 ml-4" %>
      </div>

      <div class="row mb-3 align-items-center">
        <h5 class="col-2">フリガナ</h5>
        <%= f.text_field :first_name_kana, autofocus: true, id:"first_name_kana", placeholder:"名字カナ", class: "col-2" %>
        <%= f.text_field :last_name_kana, id:"last_name_kana", placeholder:"名前カナ", class: "col-2 ml-4" %>
      </div>

      <div class="row mb-3 align-items-center">
        <h5 class="col-2">郵便番号</h5>
        <%= f.text_field :postal_code, id:"postal_code", placeholder:"郵便番号"%>
      </div>

      <div class="row mb-3 align-items-center">
        <h5 class="col-2">住所</h5>
        <%= f.text_field :address, id:"address", placeholder:"住所", class: "col-5" %>
      </div>

      <div class="row mb-3 align-items-center">
        <h5 class="col-2">電話番号</h5>
        <%= f.text_field :telephone_number, id:"telephone_number", placeholder:"電話番号"%>
      </div>

      <div class="row mb-3 align-items-center">
        <h5 class="col-2">メールアドレス</h5>
        <%= f.text_field :email, id:"email", placeholder:"メールアドレス"%>
      </div>

      <div class="row">
        <%= f.submit "変更を保存", class: "btn btn-success col-3" %>
    </form>
  <% end %>
        <%= link_to "退会する",  customers_unsubscribe_path, class: "col-2 btn btn-danger ml-5" %>
      </div>
</div>