<div class="container">
  <div class="row">
    <h3 class="gray mt-5">商品一覧</h2>
    <div class="col-10"></div>
    <%= link_to new_admin_item_path do %>
    <i class="fa-solid fa-circle-plus fa-3x mt-4"></i>
    <% end %>
  </div>
  <table class="table table-borderless">
  <div class="row">
    <thead>
      <tr class="table-active">
        <th scope="col">商品ID</th>
        <th scope="col">商品名</th>
        <th scope="col">税抜き価格</th>
        <th scope="col">ジャンル</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active == true %>
            <p class="text-success">販売中</p>
            <% else %>
            <p class="text-secondary">販売停止中</p>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </div>
  </table>
</div>