<div class="container">
  <div class="row justify-content-center m-5">
    <h5>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </h5>
  </div>
  <h3>新着商品</h3>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-3">
        <%= link_to item_path(item) do %>
        <%= image_tag item.image, :height => '200'  if item.image.attached? %>
        <% end %>
        <div class="mt-2">
          <%= item.name %>
        </div>
        <div class="mt-2">
          ￥<%= item.price %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-end">
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
</div>
