<h2>会員一覧</h2>

<% @customers.each do |customer| %>
  <%= customer.first_name %> <%= customer.last_name %>
  <%= customer.email %>
  <% if customer.is_deleted == true %>
    <%= "退会" %>
  <% else %>
    <%= "有効" %>
  <% end %>
<% end %>