 <div class="container">
  <h3 class="gray mt-5">配送先編集</h2>
  <%= form_with model: @address do |f| %>
   <div class="row mt-2">
    <%= f.label :postal_code, "郵便番号(ハイフン無し)", class: "col-3" %>
    <%= f.text_field :postal_code, id:"postal_code", placeholder:"郵便番号", class: "col-2" %>
   </div>
   <div class="row mt-2">
    <%= f.label :address, "住所", class: "col-3" %>
    <%= f.text_field :address, id:"address", placeholder:"住所", class: "col-4" %>
   </div>

   <div class="row mt-2">
    <%= f.label :name, "宛名", class: "col-3" %>
    <%= f.text_field :name, autofocus: true, id:"name", placeholder:"宛名", class: "col-2" %>
    <div class="col-2"></div>
    <%= f.submit "変更内容を保存", class: "col-2 btn btn-success" %>
   </div>
  <% end %>
 </div>