<div class="container">
    <h3 class="gray mt-5">注文情報入力</h2>
    <%= form_with model: @order, url: comfirm_orders_path do |f| %>

        <div class="payment_method row">
            <div class="col-12">
                <h4 class="mt-2">支払方法</h4>
            </div>
            <div class="col-12">
                <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
                <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

                <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
                <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
            </div>
        </div>

        <div class="select_address row mt-5">
            <div class="col-12">
                <h4 class="mt-2">お届け先</h4>
            </div>
            <div class="col-12">
                <%= f.radio_button :select_address, 0, :checked => true %>
                <%= f.label :select_address_0, "ご自身の住所" %>
            </div>
            <div class="col-12">
                〒<%= @customer.postal_code %><%= @customer.address %><br>
                <%= @customer.first_name %><%= @customer.last_name %>
            </div>



        </div>

        <div class="select_address row mt-4">
            <div class="col-12">
                <%= f.radio_button :select_address, 1 %>
                <%= f.label :select_address_1, "登録住所から選択" %>
            </div>
            <div class="col-12">
                <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %>
            </div>
        </div>

        <div class="select_address row mt-4">
            <div class="col-12">
                <%= f.radio_button :select_address, 2 %>
                <%= f.label :select_address_2, "新しいお届け先" %>
            </div>
        </div>
        <div class="row">
                <%= f.label :postal_code, "郵便番号(ハイフン無し)", class: "col-3" %>
                <%= f.text_field :postal_code, :placeholder => "0000000", class: "col-3 form-control" %>
        </div>
        <div class="row mt-2">
            <%= f.label :address, "住所", class: "col-3" %>
            <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", class: "col-7 form-control" %>
        </div>
        <div class="row mt-2">
                <%= f.label :name, "宛名", class: "col-3" %>
                <%= f.text_field :name, :placeholder => "山田太郎", class: "col-3 form-control" %>
        </div>
        <div class="row justify-content-center mt-5">
            <%= f.submit "注文確認画面に進む", class:"btn btn-primary" %>
        </div>

    <% end %>
</div>