<div class="container">
    <h2><%= "商品一覧 （全#{@items.count}件）" %></h2>
    <div class="row">
    <% @items.each do |item| %>
      <div class="col-3">
        <table class="table table-borderless">
          <tr>
            <th>
              <%= link_to item_path(item) do %>
                <%= image_tag item.image, :width => '200' if item.image.attached? %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th><%= item.name %></th>
          </tr>
          <tr>
            <th>￥<%= item.price %></th>
          </tr>
        </table>
      </div>
    <% end %>
    </div>
</div>