<div class="container">
  <div class="row mt-5">
    <div class="col-5">
      <%= image_tag @item.image, :width => '80%'  if @item.image.attached? %>
    </div>
    <div class="col-6">
      <h3><%= @item.name %></h3><br>
      <h4 class="mt-2"><%= @item.introduction %></h4><br>
      <h3>￥<%= (@item.price * 1.1).floor %><br></h3>
      <div class="mt-5">
        <%=  form_with model: @add_cart, url: cart_items_path do |f| %>
          <%= f.select :amount, *[1..10] %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>