<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg p-5">
        <div class="container-fluid">
          <a class="navbar-brand p-3" href="/">NaganoCafe</a>

          </button>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "About", about_path, method: :get, class: 'nav-link btn btn-outline-dark m-3' %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", items_path, method: :get, class: 'nav-link btn btn-outline-dark m-3' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録",  new_customer_session_path, method: :get, class: 'nav-link btn btn-outline-dark m-3' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_registration_path, method: :get, class: 'nav-link btn btn-outline-dark m-3' %>
              </li>
            </ul>

        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white p-5 pb-4">

    </footer>
  </body>
</html>
